.tanstackTable * {
    box-sizing: border-box;
}

.tanstackTable table,
.tanstackTable .divTable {
    /* border: 1px solid lightgray; */
    width: fit-content;
}

.tanstackTable .tr {
    display: flex;
}

.tanstackTable tr,
.tanstackTable .tr {
    width: fit-content;
    height: 30px;
}
/* 
.tanstackTable th,
.tanstackTable .th,
.tanstackTable td,
.tanstackTable .td {
    box-shadow: inset 0 0 0 0.5px white;
    padding: 0.25rem;
} */

.tanstackTable th,
.tanstackTable .th {
    box-shadow: inset 0 0 0 0.5px lightgray;
}
.tanstackTable td,
.tanstackTable .td {
    box-shadow: inset 0 0 0 0.5px white;
    padding: 0.25rem;
}

.tanstackTable td,
.tanstackTable th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th,
.th {
    padding: 2px 4px;
    position: relative;
    font-weight: bold;
    text-align: center;
    height: 30px;
}

.tanstackTable td,
.tanstackTable .td {
    height: 30px;
}

.tanstackTable .resizer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5px; /* Needs to be wide enough to grab */
    cursor: col-resize;
    user-select: none;
    touch-action: none;
}

.tanstackTable .resizer.isResizing {
    background: blue; /* Should be visible when dragging */
    opacity: 1;
}

@media (hover: hover) {
    .tanstackTable .resizer {
        opacity: 0;
    }

    .tanstackTable *:hover > .resizer {
        opacity: 1;
    }
}
